//  Color Pallete for references only
$apricot:               #FFB710;
$green:                 #2DE786;
$purple:                #AE7AFB;
$salmon: 							  #ff916f;
$pink:                  #FF79D8;
$aqua:                  #52F1F1;
$orange:                #FFA452;
$sky:                   #4EBBFF;
$blush:                 #FFF3FC;

$off-white:             #fafafa;
$white:                 #fff;
$grey-1:                #F3F4F8;
$grey-2:                #D2D4DA;
$grey-3:                #B3B5BD;
$grey-4:                #9496A1;
$grey-5:                #777986;
$grey-6:                #5B5D6B;
$grey-7:                #404252;
$grey-8:                #282A3A;
$grey-9:                #101223;
$black:                 #000;

$shadow-1:              0 10px 20px rgba(0, 0, 0, 0.2);
$focus-shadow:          0 2px 2px $aqua, 0px -2px 2px $aqua, 2px 0 2px $aqua,-2px 0 2px $aqua;


// Color Assignments 
$primary:                 $salmon;
$primary-dk:              darken($primary, 10%);
$primary-lt:              lighten($primary, 10%);
$secondary:               $blush;
$accent:                  $aqua; 
$border-color:            $grey-2;
$primary-font-color:      $grey-8;
$secondary-font-color:    $grey-6;
$third-font-color:        $grey-4;
