// screen sizes
$mobile-sm:        360px;
$mobile-md:        375px;
$mobile-lg:        425px;
$tablet:           768px;
$tablet-lg:        896px;
$laptop:           1024px;
$laptop-lg:        1440px;
$laptop-xl:        1660px;
$desktop:          1920px;
$desktop-lg:       2560px;

// Spaces
$gap-1: 4px; 
$gap-2: 8px;
$gap-3: 12px;
$gap-4: 16px;
$gap-5: 20px;
$gap-6: 24px;
$gap-7: 28px;
$gap-8: 32px;
$gap-9: 36px;
$gap-10: 40px;
$gap-11: 44px;
$gap-12: 48px;
$gap-13: 52px;
$gap-14: 56px;

//
$round-1: 18px;
$round-2: 36px;